<p *ngFor="let name of names ">{{ name }}</p>

<p *ngFor="let name of names; let i = index ">{{ i }}: {{ name }}</p>

<mat-card>
    <mat-card-content>
        <mat-selection-list #selectednames>
            <mat-list-option *ngFor="let name of names">{{ name }}</mat-list-option>
        </mat-selection-list>
    </mat-card-content>
    <mat-card-footer>
        <p>
            Options selected: {{selectednames.selectedOptions.selected.length}}
        </p>
    </mat-card-footer>
</mat-card>

<mat-card>
    <mat-card-content>
        <mat-list>
            <h3 matSubheader>Names</h3>
            <mat-list-item *ngFor="let name of names"></mat-list-item>
            <mat-icon matListIcon>person</mat-icon>
            <h4 matLine>{{names}}</h4>
            <mat-divider></mat-divider>

            <h3 matSubheader>Cities</h3>
            <mat-list-item *ngFor="let city of cities"></mat-list-item>
            <mat-icon matListIcon>location_city</mat-icon>
            <h4 matLine>{{cities}}</h4>
        </mat-list>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>
